QLineEdit{
    min-width: 200px;min-height: 70px;
    max-width: 200px;max-height: 70px;
    font-size: 45px;

    /*outline-color: red;
    outline-style: solid;
    outline-offset: 10px;
    outline-radius: 10px;*/
    /*border-top: 1px solid black;*/
    border: none;
    border-bottom: 1px solid black;
    background: rgb(236,236,236);
}
